<div class="container">
    <h2 class="title-observaciones">Observaciones</h2>
    <div class="container-cards" id="containerCards">
        <div class="card blue-cake" id="lista-observaciones">

        </div>
    </div>

    <div class="form-container" id="formContainer">
        <h3>Nueva Observación</h3>
        <form id="observationForm">
            <div class="form-group">
                <label for="titulo">Título:</label>
                <input type="text" id="titulo" name="titulo" required>
            </div>
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" required>
            </div>
            <div class="form-group">
                <label for="descripcion">Descripción:</label>
                <textarea id="descripcion" name="descripcion" rows="4" required></textarea>
            </div>
            <div class="form-buttons">
                <button type="button" class="cancel-btn" id="cancelBtn">Cancelar</button>
                <button type="submit" class="save-btn">Guardar</button>
            </div>
        </form>
    </div>
    
    <div class="btn-add">
        <div class="btn" id="addBtn">
            <i class='bx bxs-plus-circle'></i>
            <p class="text-btn">Añadir Observación</p>
        </div>
    </div>
</div>